<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LogIn and Sign Up Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<div class="box">

    <img src="/images/userlogo.jpeg">
    <div class="page">
        <div th:if="${param.logout}">
            <div class="text-success" style="color: #59ca92"> You have been logged out.</div>
        </div>
        <div class="header">
            <a id="login" class="active" th:href="@{/}">log in</a>
            <a id="signup"  th:href="@{/signup}">Sign Up</a>
        </div>

        <div th:if="${param.error}">
            <div class="text-danger" style="color: darkred">Invalid Username or Password</div>
        </div>

        <div class="container">
            <form class="login" name="loginForm"  th:method="post" th:action = "@{/login}" th:object="${user}">
                <input type="text" name="userName" id="userName" placeholder="Username" th:field="*{userName}">
                <p th:if="${#fields.hasErrors('userName')}" class="alert alert-red" th:errors="*{userName}"></p>
                <input type="password" name="password" id="password" placeholder="Password" th:field="*{password}">
                <p th:if="${#fields.hasErrors('password')}" class="alert alert-red" th:errors="*{password}"></p>
                <div id="check">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember Me</label>
                </div>
                <br><br>
                <input type="submit"  value="Log In">
                <a href="forgot_password.html" style = "color: #707070;">Forgot Password?</a>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/index.js"></script>
</body>
</html>